In [11]:
import pandas as pd

In [5]:
!pip install faker

Requirement already satisfied: faker in c:\users\santi\onedrive\escritorio\maestria\entornos\clases\lib\site-packages (37.1.0)
Requirement already satisfied: tzdata in c:\users\santi\onedrive\escritorio\maestria\entornos\clases\lib\site-packages (from faker) (2025.2)

In [6]:
from faker import Faker
fake = Faker()

In [7]:
lista = []

In [8]:
for x in range(1000):
    lista.append({'nombre': fake.name(), 'apellido' : fake.last_name(), 'email' : fake.email(), 'address' : fake.address()})

In [12]:
data = pd.DataFrame(lista)

In [13]:
data

,nombre,apellido,email,address
0,Jennifer Yu,Cross,xhubbard@example.net,37592 William Burgs Suite 380\nSouth Randallha...
1,Tamara Daniels,Sexton,hhughes@example.net,24191 Emily Streets Apt. 241\nSouth Jennifermo...
2,Jessica Weber,Munoz,murrayrachael@example.net,"7499 Benjamin Ridges Suite 554\nJamesborough, ..."
3,William Larsen,Ortega,elizabethhicks@example.net,Unit 8004 Box 6218\nDPO AP 14272
4,Michael Jordan,Hancock,masseyderrick@example.com,"1740 Flores Creek\nKeithbury, MI 39202"
...,...,...,...,...
995,Joshua Roth,Harrison,kristi29@example.net,"018 Cory Turnpike\nSouth Bradley, KY 95381"
996,Brenda Richardson,Reyes,mariapugh@example.com,17517 Hernandez Glen Suite 080\nSouth Emilyber...
997,Brittany Miller,Marshall,kcooper@example.org,Unit 3449 Box 4502\nDPO AE 03393
998,Michael Robinson,Smith,campbelljoshua@example.net,"54816 Rice Curve\nNorth Heather, ME 22154"
999,Tamara Jones,Miller,charles04@example.com,Unit 4295 Box 3043\nDPO AE 25778

In [17]:
def generar_datos_enteros(minimo, maximo, cantidad):
  """Genera una lista de 'cantidad' números enteros aleatorios entre 'minimo' y 'maximo'."""
  datos = []
  for _ in range(cantidad):
    datos.append(random.randint(minimo, maximo))
  return datos

SyntaxError: invalid syntax (3797038659.py, line 1)

In [15]:
data['edad'] = fake.randon.number(30,50)

AttributeError: 'Generator' object has no attribute 'randon'